<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.arittek.o2chatsdk.activities.SelectFilePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.SignalRTestAndroid"
            />

        <activity
            android:name="com.arittek.o2chatsdk.activities.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SignalRTestAndroid"

            />

        <activity
            android:name="com.arittek.o2chatsdk.activities.MainActivityChat"
            android:exported="false"
            android:theme="@style/Theme.SignalRTestAndroid"

            />
    </application>

</manifest>